<div class="flex">
  <div class=" ">
    <section class="relative py-16 bg-blueGray-50">
      <div class="w-full mb-12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-purple-500 text-white"
        >
          <div class="rounded-t mb-0 px-4 py-3 border-0">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                <h3 class="font-semibold text-lg text-white">Users</h3>
              </div>
            </div>
          </div>
          <div class="block w-full overflow-x-auto">
            <table class="items-center w-full bg-transparent border-collapse" style="table-layout: fixed;">
              <thead>
                <tr>
                  <th class="px-6 align-middle text-center border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left text-white">Name</th>
                  <th class="px-6 align-middle text-center border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left text-white">E-mail</th>
                  <th class="px-6 align-middle text-center border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left text-white">User type</th>
                  <th class="px-6 align-middle text-center border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left text-white">Subscription starts</th>
                  <th class="px-6 align-middle text-center border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left text-white">Subscription ends</th>
                  <th class="px-6 align-middle text-center border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left text-white">Action</th>
                </tr>
              </thead>
              <tbody *ngIf="users$ | async as userdata">
                <tr *ngFor="let user of userdata; let i = index">
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4">{{ user.name }}</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4">{{ user.email }}</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4" *ngIf="user.userType === 'flatOwner'">Flat Owner</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4" *ngIf="user.userType === 'searcher'">Looking for flat/flatmate</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4"*ngIf="user.is_premium">{{user.subscriptionStarts | date : "mediumDate"}}</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4"*ngIf="!user.is_premium">Not Subscribed</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4"*ngIf="user.is_premium">{{user.subscriptionEnds | date : "mediumDate"}}</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4"*ngIf="!user.is_premium">Not Subscribed</td>
                  <td class="border-t-0 px-6 align-middle text-center border-l-0 border-r-0 text-xs p-4">
                    <div (click)="unBlockUser(user._id)" class="flex justify-center items-center">
                      <button onclick="" class="bg-red-500 rounded-lg text-sm px-4 py-2 font-bold"*ngIf="user.is_blocked === false ">Block</button>
                      <button onclick=""class="bg-green-500 rounded-lg text-sm px-4 py-2 font-bold"*ngIf="user.is_blocked">Unblock</button>
                    </div>
                  </td>                  
                </tr>
              </tbody>
            </table>
            
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
