@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
@media (max-width: 640px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
body {
  font-size: 16px;
}

.postCard:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  cursor: pointer;
  border: none;
}
.postCard {
  border: 1px dotted #686868;
}
