::ng-deep .bottom-0 {
  bottom: -4px;
}
.rounded-grey-bg {
  background-color: rgba(124, 66, 216, 0.322);
  border-radius: 20px; /* Adjust the border-radius value as needed */
  padding: 1rem; /* Add padding to make it look better */
}
