::ng-deep .bottom-0 {
  bottom: -4px;
}
.rounded-grey-bg {
  background-color: rgba(124, 66, 216, 0.322);
  border-radius: 20px; /* Adjust the border-radius value as needed */
  padding: 1rem; /* Add padding to make it look better */
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Ubuntu&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}
header {
  background-color: #8800ff;
  color: #fff;
  padding: 40px;
  text-align: center;
}
h1 {
  font-size: 36px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
/* Add this CSS to your component's CSS file or global styles */
.image-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Black overlay with 70% opacity */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.image-container:hover .overlay {
  opacity: 1;
}
