<body class="flex items-center justify-center bg-gray-100">
  <div class="bg-white rounded-lg shadow-lg p-4 max-w-xs">
    <!-- Avatar and Profile Name -->
    <div class="flex items-center justify-between mb-4">
      <div class="flex items-center">
        <img
          *ngIf="gender == 'male'"
          src="../assets/images/requiredBoy.png"
          alt="Avatar"
          class="w-8 h-8 rounded-full"
        />
        <img
          *ngIf="gender == 'female'"
          src="../assets/images/requiredGirl.png"
          alt="Avatar"
          class="w-8 h-8 rounded-full"
        />
        <div class="ml-2">
          <div class="text-lg font-semibold">{{ name }}</div>
          <div class="text-sm text-gray-600">Online</div>
        </div>
      </div>
    </div>
    <div
      #scrollMe
      *ngIf="chats"
      class="chat-box mb-4 overflow-scroll overflow-x-hidden"
      style="max-height: 30vh; min-height: 30vh"
    >
      <div>
        <div *ngFor="let chat of chats; let i = index" class="w-full">
          <div class="w-full flex justify-end">
            <div
              *ngIf="chat.senderId == senderId"
              class="my-message flex align-right w-fit bg-blue-100 p-2 rounded-l-xl rounded-t-xl mb-2 text-blue-800"
            >
              {{ chat.content }}
            </div>
          </div>
          <div
            *ngIf="chat.senderId !== senderId"
            class="other-message text-left bg-gray-200 w-fit p-2 rounded-r-xl rounded-t-xl mb-2 text-gray-800"
          >
            {{ chat.content }}
          </div>
        </div>
      </div>
    </div>
    <div class="flex">
      <input
        type="text"
        [(ngModel)]="text"
        placeholder="Type your message..."
        class="w-full rounded-l-full p-2 border focus:outline-none"
      />
      <button
        *ngIf="text.length > 0"
        class="bg-white text-white rounded-r-full p-2 border"
        matTooltip="Send Message"
        (click)="sendMessage(text)"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="blue"
          class="w-6 h-6 transition duration-300 ease-in-out fill-current hover:fill-blue-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
          />
        </svg>
      </button>
    </div>
  </div>
</body>
