<app-userheader
  style="position: sticky; top: 0; z-index: 100; background-color: white"
></app-userheader>
<div class="flex min-h-screen pt-[30px] px-[40px]" *ngIf="!is_premium">
  <div class="min-w-full">
    <p class="text-[#00153B] text-[20px] leading-[40px] font-semibold">
      Your Subscription
    </p>

    <div>
      <p class="text-[#717F87] text-[15px] leading-[27px] font-medium">
        Here you can explore additional features for your
        <span class="font-semibold text-black"> flat</span>
        <span class="font-semibold text-purple-700">Unity </span>Account !!
      </p>
    </div>
    <div class="">
      <div
        class="mt-[20px] md:flex md:grid md:grid-cols-3 gap-[20px]"
        *ngIf="plans"
      >
        <div
          key="1"
          class="w-full mb-4 bg-[#fff] rounded-[10px] shadow-[0px 1px 2px #E1E3E5] border border-[#E1E3E5] divide-y"
          *ngFor="let plan of plans; let i = index"
        >
          <div class="pt-[15px] px-[25px] pb-[25px] bg-purple-400 rounded-t-lg">
            <div>
              <p class="text-white text-[19px] leading-[24px] font-bold">
                {{ plan.planName }}
              </p>
              <p class="text-white text-[30px] leading-[63px] font-bold">
                {{ plan.amount }} / {{ plan.duration }}
                <span class="text-sm">Month/s</span>
              </p>
            </div>
          </div>

          <div class="pt-[25px] px-[25px] pb-[35px]">
            <div>
              <p
                class="text-[#717F87] text-[14px] leading-[24px] font-medium flex"
                *ngFor="let feature of plan.features; let i = index"
              >
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="green"
                    class="w-6 h-6"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </span>
                {{ feature }}
              </p>
            </div>

            <div class="mt-[25px] text-center">
              <button
                class="bg-green-600 hover:bg-green-400 rounded-[5px] py-[15px] px-[25px] text-[#fff] text-[14px] leading-[17px] font-semibold"
                (click)="
                  SubscribePremium(
                    plan.amount,
                    plan.planName,
                    plan.duration,
                    plan.planName
                  )
                "
              >
                Subscribe >>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="is_premium" class="m-8">
  <p
    class="text-[#00153B] text-[20px] leading-[40px] font-semibold w-full flex justify-center items-center"
  >
    Your Subscription
  </p>

  <div class="w-full flex justify-center items-center">
    <p class="text-[#717F87] text-[15px] leading-[27px] font-medium">
      You are a Premium member of
      <span class="font-semibold text-black"> flat</span>
      <span class="font-semibold text-purple-700">Unity. </span> Happy to have
      you in our family !!
    </p>
  </div>
  <div class="w-full flex justify-center items-center">
    <div class="mt-[20px] md:w-1/3 gap-[20px]">
      <div
        key="1"
        class="w-full mb-4 bg-[#fff] rounded-[10px] shadow-[0px 1px 2px #E1E3E5] border border-[#E1E3E5] divide-y"
      >
        <div class="pt-[15px] px-[25px] pb-[25px] bg-green-500 rounded-lg">
          <div>
            <p class="font-semibold text-white">Plan details</p>
            <p class="text-yellow-300 text-[30px] leading-[63px] font-bold">
              {{ subPlanName }} Plan
            </p>

            <p class="text-white text-[19px] leading-[24px] font-bold">
              <span class="text-black">From : </span
              >{{ subscriptionStarts | date : "mediumDate" }}
              <br />
              <span class="text-black">To : </span
              >{{ subscriptionEnds | date : "mediumDate" }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
