<div class="bg-white p-4 flex justify-between items-center">
  <!-- Left Side: Brand Name -->
  <div class="text-2xl font-semibold cursor-pointer" (click)="navigateTo('flatmatepost')"
  >
    <span>flat</span>
    <span class="text-violet-500">Unity</span>
  </div>

  <div class="flex">
    <button
      class="bg-green-500 text-white font-bold px-4 py-2 rounded-lg shadow-md hover:bg-white-500 hover:text-blue"
      [routerLink]="'/requirement'"
    >
      + Requirement
    </button>
    <div class="relative ml-3">
      <div *ngIf="!menuExpanded">
        <button
          type="button"
          class="relative flex text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="menuExpanded = !menuExpanded"
        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">Open user menu</span>
          <img class="h-8 w-8" src="../assets/images/menu (1).png" alt="" />
        </button>
      </div>
      <div *ngIf="menuExpanded">
        <button
          type="button"
          class="relative flex text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2"
          id="user-menu-button"
          aria-expanded="false"
          aria-haspopup="true"
          (click)="menuExpanded = !menuExpanded"
        >
          <span class="absolute -inset-1.5"></span>
          <span class="sr-only">Open user menu</span>
          <img class="h-8 w-8" src="../assets/images/down.png" alt="" />
        </button>
      </div>
      <div
        class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="user-menu-button"
        tabindex="-1"
        *ngIf="menuExpanded"
      >
        <!-- Active: "bg-gray-100", Not Active: "" -->
        <a
          href="profile"
          class="block px-4 py-2 text-sm text-gray-700"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-0"
          >Profile</a
        >
        <a
          href=""
          class="block px-4 py-2 text-sm text-gray-700"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-1"
          >Preferences</a
        >
        <a
          href="#"
          class="block px-4 py-2 text-sm text-gray-700"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-1"
          >Notifications</a
        >
        <a
          href="flatmatepostMod"
          class="block px-4 py-2 text-sm text-gray-700"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-1"
          >Activity log</a
        >
        <a
          href=""
          class="cursor-pointer"
          class="block px-4 py-2 text-sm text-gray-700"
          role="menuitem"
          tabindex="-1"
          id="user-menu-item-2"
          (click)="logOutcall()"
          >Sign out</a
        >
      </div>
    </div>
  </div>
</div>
